<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Manager_listStaff_Servlet</servlet-name>
        <servlet-class>controller.Manager_listStaff_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Manager_getDriverDetails_Servlet</servlet-name>
        <servlet-class>controller.Manager_getDriverDetails_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Manager_editDriver_Servlet</servlet-name>
        <servlet-class>controller.Manager_editDriver_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Manager_editDriverDetails_Servlet</servlet-name>
        <servlet-class>controller.Manager_editDriverDetails_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Manager_deleteDriver_Servlet</servlet-name>
        <servlet-class>controller.Manager_deleteDriver_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Manager_getStaffDetails_Servlet</servlet-name>
        <servlet-class>controller.Manager_getStaffDetails_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Manager_listStaffInternal_Servlet</servlet-name>
        <servlet-class>controller.Manager_listStaffInternal_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Manager_deleteStaffInternal_Servlet</servlet-name>
        <servlet-class>controller.Manager_deleteStaffInternal_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Manager_editStaff_Servlet</servlet-name>
        <servlet-class>controller.Manager_editStaff_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Manger_editStaffDetails_Servlet</servlet-name>
        <servlet-class>controller.Manger_editStaffDetails_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Manager_createStaffInternal_Servlet</servlet-name>
        <servlet-class>controller.Manager_createStaffInternal_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Manager_createDriver_Servlet</servlet-name>
        <servlet-class>controller.Manager_createDriver_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Manager_listService_Servlet</servlet-name>
        <servlet-class>controller.Manager_listService_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Manager_getServiceDetails_Servlet</servlet-name>
        <servlet-class>controller.Manager_getServiceDetails_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Manager_editService_Servlet</servlet-name>
        <servlet-class>controller.Manager_editService_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Manager_addService_Servlet</servlet-name>
        <servlet-class>controller.Manager_addService_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Manager_deleteService_Servlet</servlet-name>
        <servlet-class>controller.Manager_deleteService_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Manager_searchService_Servlet</servlet-name>
        <servlet-class>controller.Manager_searchService_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Manager_searchDriver_Servlet</servlet-name>
        <servlet-class>controller.Manager_searchDriver_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Manager_searchStaffInternal_Servlet</servlet-name>
        <servlet-class>controller.Manager_searchStaffInternal_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Manager_listStaff_Servlet</servlet-name>
        <url-pattern>/listStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Manager_getDriverDetails_Servlet</servlet-name>
        <url-pattern>/getDriverDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Manager_editDriver_Servlet</servlet-name>
        <url-pattern>/editDriver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Manager_editDriverDetails_Servlet</servlet-name>
        <url-pattern>/driverDetailsEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Manager_deleteDriver_Servlet</servlet-name>
        <url-pattern>/deleteDriver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Manager_getStaffDetails_Servlet</servlet-name>
        <url-pattern>/getStaffDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Manager_listStaffInternal_Servlet</servlet-name>
        <url-pattern>/getListStaffInternal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Manager_deleteStaffInternal_Servlet</servlet-name>
        <url-pattern>/deleteStaffInternal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Manager_editStaff_Servlet</servlet-name>
        <url-pattern>/editStaffInternal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Manger_editStaffDetails_Servlet</servlet-name>
        <url-pattern>/editStaffInternalDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Manager_createStaffInternal_Servlet</servlet-name>
        <url-pattern>/createStaffInternal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Manager_createDriver_Servlet</servlet-name>
        <url-pattern>/createDriver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Manager_listService_Servlet</servlet-name>
        <url-pattern>/listService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Manager_getServiceDetails_Servlet</servlet-name>
        <url-pattern>/getServiceDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Manager_editService_Servlet</servlet-name>
        <url-pattern>/editServiceDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Manager_addService_Servlet</servlet-name>
        <url-pattern>/addService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Manager_deleteService_Servlet</servlet-name>
        <url-pattern>/deleteService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Manager_searchService_Servlet</servlet-name>
        <url-pattern>/searchService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Manager_searchDriver_Servlet</servlet-name>
        <url-pattern>/searchDriver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Manager_searchStaffInternal_Servlet</servlet-name>
        <url-pattern>/searchStaffInternal</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
